/* Style the top navigation bar */
#GLOBAL_FUTEROT {
  z-index: 1;
  position: relative;
}

.footer {
  background: #2c3e50;
  padding: 30px 15px;
  display: flex;
  background-color: #333;
}

/* Style the navigation bar links */
#futer_tagas_div,
#futer_helpero_div {
  width: 40%;
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

#spacer_mid {
  width: 40%;
}

@media screen and (max-width: 700px) {
  .footer {
    flex-direction: column;
  }
  #futer_tagas_div,
  #futer_helpero_div {
    width: 100%;
  }
}

.TAGS_TILE_DIV {
  line-height: 1.1;
  font-weight: 700;
  color: #808080;
  text-decoration: none;
}

#Links_futerot {
  display: grid;
  font-size: 20px;
  margin-top: -10px;
  text-decoration-line: underline;
  text-decoration-color: aquamarine;
}
#Links_futerot a {
  margin: auto;
  cursor: pointer;
  color: cornflowerblue;
  font-size: 17px;
  padding: 5px;
}

#icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.badge_end {
  text-align: center;
  display: block;
  padding: 0px;
}

#footer {
  padding: 15px;
  background: #2c3e50;
  color: white;
}
